.bookings {
    background: $off-white;
    position: absolute;
    left:0;right:0;
    width: $sidebar-width;
    height: calc(100% - #{$header-height});
    z-index: 1;
}

.bookings-title {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    margin-top: $s-size;
    padding: $m-size;
    color: $light-blue;
}

.bookings-listing {
    color: $dark-blue;
    padding: $m-size;
    margin: 0;
    background: $off-white;
    transition: background-color 0.5s;
}

.bookings-listing:hover{
    background: darken($off-white, 3%);
}

@media (max-width: 480px){
    .bookings {
        display: none;
    }
}