.bookings-listing {
    color: $dark-blue;
    padding: $m-size;
    margin: 0;
    background: $off-white;
    transition: background-color 0.5s;
}

.bookings-listing:hover{
    background: darken($off-white, 3%);
}