.browse-filters{
    display: block;
}

.browse-filters__select{
    display: flex;
    width: 14rem;
    margin-left: $m-size;
}

.browse-filters__field{
    width: 14rem;
    margin-left: $m-size;
}
