.browse-filters{
    display: block;
}

.browse-filters__item--select{
    border-radius: 0.2rem;
    display: flex;
    font-weight: 300;
    width: $sidebar-width*0.85;
}

.browse-filters__item--field{
    border: 0.0rem solid $light-blue;
    border-radius: 0.2rem;
    box-shadow: inset 0px 0px 0.5rem rgba(0,0,0,0.25);
    color: black;
    font-weight: 300;
    padding: 0.2rem;
    padding-left: 1rem;
    width: $sidebar-width*0.8;
}

.browse-filters__item{
    height: $l-size;
    margin-left: $m-size;
    margin-bottom: $m-size;
}

.browse-filters__item--button{
    background-color: darken($off-white, 10);
    border: 0rem;
    border-radius: 0.2rem;
    color: $pale-blue;
    width: $sidebar-width*0.85;
}

.browse-filters-clear-text{
    background: transparent;
    border: 0rem;
    color: silver;
    margin-top: 1rem;
    position: absolute;
    right: 2.5rem;
}