.header {
    background: $true-blue;
    position: relative;
    z-index: 2;
    display: flex;
    font-weight: 500;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.1);
}

.header-title {
    color: white;
    margin: 0px;
    padding: $m-size;
    font-size: $ml-size;
    font-weight: 300;
}

.header-title::after{
    content: "BETA";
    font-size: $s-size;
    padding: $t-size;
}

.nav-listing{
    display: flex;
    margin-left: $ss-size;
}

.nav-item {
    color: $light-blue;
    text-decoration: none;
    line-height: $xl-size;
    margin: auto $s-size auto $s-size;
    border-top: $t-size solid transparent;
    border-bottom: $t-size solid transparent;
}

.nav-item__icon {
    margin-right: $ss-size;
    margin-left: $ss-size;
}

.nav-item--is-active {
    border-bottom: $t-size solid lighten($true-blue, 10);
    color: $off-white;
}

.nav-sign-out{
    margin-left: auto;
    color: $off-white;
}

.nav-item__description{
    margin-left: $ss-size;
    margin-right: $ss-size;
}

@media (max-width: 480px){
    .nav-item__description{
        display: none;
    }
}