.library-map-container {
    background: white;
    left: $sidebar-width; top: $header-height; right: 0; bottom: 0;
    height: calc(100% - #{$header-height});
    overflow: hidden;
    position: absolute;
    touch-action: none;
    width: calc(100% - #{$sidebar-width});
    z-index: -1;
    zoom: 1;
}

.library-map-container--grabbing{
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

@media (max-width: 480px){
    .library-map-container {
        left: 0;
        width: 100%;
    }
}

.library-map{
    position: absolute;
    transform-origin: top left;
    z-index: -1;
}

.library-map-img{
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    pointer-events: none;
    z-index: -1;
}