.sidebar{
    background: $off-white;
    position: absolute;
    left:0;right:0;
    width: $sidebar-width;
    height: calc(100% - #{$header-height});
    z-index: 1;
}

.sidebar-title {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    margin-top: $s-size;
    padding: $m-size;
    color: $light-blue;
}


@media (max-width: 480px){
    .sidebar {
        display: none;
    }
}