.sidebar{
    background: $off-white;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.05);
    height: calc(100% - #{$header-height});
    left:0;right:0;
    overflow: scroll;
    position: absolute;
    width: $sidebar-width;
    z-index: 1;
}

.sidebar-title {
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
    margin-top: $s-size;
    padding: $m-size;
    color: $light-blue;
}

@media (min-width: 480px){
    .sidebar::-webkit-scrollbar { 
        display: none; 
    }
    .sidebar{
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
    }
}

@media (max-width: 480px){
    .sidebar {
        display: none;
    }
}