// Colors

$true-blue: #004576;
$pale-blue: #366996;
$dark-blue: #0C304A;
$stale-blue: #304E64;
$light-blue: #82A1BD;
$bright-blue: #006FDc;
// $off-white: #e1eaf5;
$off-white: #f6f8fc;

// Spacing

$t-size: 0.4rem;
$ss-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$ml-size: 2.4rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$sidebar-width: 17.8rem;
$header-height: 5.9rem;